<div class="container">
 <div class="workout-show-created-at">Date of workout: <%= @workout.created_at %></div>
 <strong><%= @workout.circuit.name %>:</strong>
 <ul>
 <% @workout.circuit.exercises.each do |exer| %>
  <li><%= exer.name %></li>
 <% end %>
 </ul>
 Calories burned: <%= @workout.calories %>
</div>
