// Specific CSS for your home-page
.create-your-own-workout {
  background: white;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px 3px #e6e6e6;
}

.workout-now-button {
  margin-bottom: 25px;
}

.homepage-exercise-item i {
  color: $red;
  &:hover {
    opacity: 0.7;
  }
}

.exercises-check-boxes {
  display: none;
}
