<div class="container">
  <h2>All Circuits</h2>
  <div class="row">
    <% @circuits.each do |circuit| %>
      <div class="col-md-6 col-lg-4">
        <%= render 'shared/circuit-card', circuit: circuit %>
      </div>
    <% end %>
  </div>
</div>
