<div id="homecarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5500">
  <div class="carousel-inner">
    <div class="active item">
      <div class="carousel-gradient"></div>
      <%= image_tag "woman-tricep-kickbacks.jpg" %>
    </div>
    <div class="item">
      <div class="carousel-gradient"></div>
      <%= image_tag "deadlift.jpg" %>
    </div>
    <div class="item">
      <div class="carousel-gradient"></div>
      <%= image_tag "ropes.jpg" %>
    </div>
    <div class="item">
      <div class="carousel-gradient"></div>
      <%= image_tag "sled-pushes.jpg" %>
    </div>
  </div>
</div>
