<!-- recieves circuit object in circuit variable -->

<div class="circuit-card">
  <h3><%= circuit.name  %></h3>
  <% circuit.exercises.each do |e| %>
    <div><%= e.name %></div>
  <% end %>
  <div class="select-workout-button">
    <%= link_to "Start workout", circuit_workout_path(circuit), class: "button-large" %>
  </div>
</div>
