<section class="footer">
  <div class="footer-content">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="logo-container">
        <div class="footer-logo">CircuitKing</div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="footer-list-container">
        <ul>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul></div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="footer-list-container">
        <ul>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul></div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="footer-list-container">
        <ul>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul></div>
      </div>
    </div>
  </div>
  <div class="wallpaper">
  </div>
</section>
