.button-large {
  padding: 10px;
  border-radius: 3px;
  background-color: $red;
  color: white;
  text-align: center;
  margin: 5px auto;
  width: 160px;
  border: 2px solid $red;
  display: block;

  &:hover {
    color: $red;
    background-color: white;
    text-decoration: none;
    transition: all 0.5s;
  }
}

.finish-workout {
  display: none;
}
