.footer {
  margin-top: 40px;
  height: 350px;
  background-color: $red;
  position: relative;
}

.wallpaper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(black-thread.png);
  background-repeat: repeat;
  opacity: 0.35;
}

.footer-content {
  color: white;
  text-shadow: 1.5px 1.5px black;
}
