.footer {
  margin-top: 30px;
  height: 350px;
  background-color: $red;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url('images/carbon-fibre-big.png');
  background-repeat: repeat;
}
