.workout-timer {
  font-size: 100px;
  text-align: center;
}

.timer-start-button {
  padding: 10px;
  border-radius: 3px;
  background-color: $red;
  color: white;
  text-align: center;
  margin: 5px auto;
  width: 150px;
  border: 2px solid $red;

  &:hover {
    color: $red;
    background-color: white;

    transition: all 0.5s;
  }
}

.exercise-timer {
  text-align: center;
  color: $red;
  font-size: 70px;
}
